* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
}

h1 {
    font-size: 2.25em;
    font-weight: 200;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-weight: 600;
}

.hero-text {
    text-align: center;
    margin-bottom: 60px;
}

.hero-text p {
    width: 500px;
    margin: 20px auto;
    font-size: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    flex-direction: column;
}

.card {
    width: 350px;
    height: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 10px 10px rgba(179, 179, 179, 0.171);
}

.card p {
    font-size: 13px;
}

.card__text {
    width: 300px;
    padding: 30px;
}

.card img {
    margin-top: 20px;
    margin-left: 250px;
}

#cyan {
    border-top: 4px solid hsl(180, 62%, 55%);
}
#red {
    border-top: 4px solid hsl(0, 78%, 62%);
}
#orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}
#blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media only screen and (max-width: 1100px) {
    .hero-text {
        width: 350px;
        font-size: 0.75em;
        margin: 0 auto;
    }

    .hero-text p {
        width: 330px;
        font-size: 1.4em;
    }

    .flex {
        flex-direction: column;
    }
}